# Anything from HPC job submission
logs/*
jobs/

*.err
*.out

# Any stray data files
*.mat
*.png
*.txt
data/*
plots/
models/
preds/
results/

# Pycache
__pycache__/

# Jupyter Notebook stuff
.ipynb_checkpoints/*
*.ipynb

.vscode/